* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// @font-face {
//   font-family: "NeoSansArabic";
//   src: url("../fonts/Neo-Regular/NeoSansArabic.otf");
//   src: url("../fonts/Neo-Regular/Neo-Regular.eot") format("embedded-opentype"),
//     url("../fonts/Neo-Regular/Neo-Regular.woff2") format("woff2"),
//     url("../fonts/Neo-Regular/NeoSansArabic.woff") format("woff"),
//     url("../fonts/Neo-Regular/Neo-Regular.ttf") format("truetype"),
//     url("../fonts/Neo-Regular/NeoSansArabic.svg") format("svg");
//   font-display: swap;
// }

body {
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 80%;
  }
}

a:hover {
  text-decoration: none;
}
