* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: #f3f7fc;
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 80%;
  }
}

a:hover {
  text-decoration: none;
}
