.button__element {
  padding: 0.7rem 2rem;

  &.button__element--smallradius {
    border-radius: 1rem;
  }
  &.button__element--roundedradius {
    border-radius: 50%;
  }
  &.button__element--block {
    width: 100%;
  }
  &.button__element--bgbluetrasparent {
    background: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
  &.button__element--bgblue {
    background: $color-primary;
    border: 1px solid $color-primary;
    color: #fff;
  }
}

@media only screen and (max-width: 767px) {
  .users__video__action {
    .button__element {
      padding: 0.7rem 1rem;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .form__filter {
    .button__element {
      padding: 0.7rem 0.3rem;
    }
  }
}
